$orange: #ed9425;
$yellow: #facb27;
$red: #c8255b;
$rose: #da83af;
$blue: #327998;

$main-color: $rose;
$secondary-color: $blue;
$darker-color: $red;
$darkest-color: color.adjust($red, $lightness: -15%);
$light-color: $orange;
$lighter-color: $yellow;
$lightest-color: white;

/*
$calypso: #327690;
$fountain-blue: #52b1c5;
$red-damask: #e16f42;
$wattle: #dbc736; */
