$default-font: "Nunito", sans-serif;
$default-font-size: 1rem;


* {
    font-family: $default-font;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: $default-font-size;
}

h1 {
    font-size: calc($default-font-size * 2);
    font-weight: 1000;
}

h2 {
    font-size: calc($default-font-size * 1.5);
    font-weight: 900;
}

h3 {
    font-size: calc($default-font-size * 1.3);
}

p,
a,
li,
blockquote,
b {
    font-size: calc($default-font-size * 1.2);
}

b {
    font-weight: 900;
}

em {
    font-weight: 200;
}