@charset "utf-8";
@use "sass:color";

@import "normalize";

*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "colors";
@import "font";

@import "search";

* {
    color: $lightest-color;
}

h1 {
    color: $light-color;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 25px;
    background: linear-gradient(45deg, $main-color, $darker-color);

    a {
        text-decoration: none;
        background-color: transparent;

        h1 {
            margin: 0;
            color: $lightest-color;
        }
    }
}

main {
    height: 100%;
    background: $darkest-color;
    overflow: scroll;
}

article {
    padding: 25px;
    max-width: 750px;
    margin: 0 auto;
}

footer {
    width: 100vw;
    padding: 25px;
    background: linear-gradient(45deg, $main-color, $darker-color);
    color: $lightest-color;
}

a {
    color: $secondary-color;
    background-color: $lighter-color;

    &:hover {
        color: color.adjust($secondary-color, $lightness: 25%);
    }

    &:active {
        color: color.adjust($secondary-color, $lightness: -25%);
    }
}

.subtitle {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 50px 0;
    z-index: 2;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkest-color;
        position: relative;

        &:nth-of-type(1) {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%;
                background-image: url("./session-main.jpg");
                opacity: 0.3;
            }
        }

        &:nth-of-type(2) {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%;
                background-image: url("./warm-up-main.jpg");
                opacity: 0.3;
            }
        }
    }
}

.button {
    display: inline-block;
    background-color: $secondary-color;
    color: $lightest-color;
    padding: 0.5rem 0.7rem;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
    z-index: 2;

    &:hover {
        color: $lightest-color;
        background: color.adjust($secondary-color, $lightness: 25%);
    }

    &:active {
        color: $lightest-color;
        background: color.adjust($secondary-color, $lightness: -25%);
    }
}

.tags {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 7px 0 0;
    }
}
