<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours d'escalade</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
</head>

<body>
    <header>
        <a href="{{ config.base_url }}">
            <h1>Cours d'escalade</h1>
        </a>

        <div class="search-container">
            <input id="search" type="search" placeholder="🔎 Chercher sur le site">

            <div class="search-results">
                <div class="search-results__items"></div>
            </div>
        </div>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer>
        Made w/ ❤️ by Guillaume Zaugg
    </footer>
</body>

<script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<script type="text/javascript" src="{{ get_url(path='search.js') }}"></script>

</html>