{% extends "base.html" %}

{% block content %}
<article>
    <p><a href="{{ config.base_url }}">
            < Retour</a>
    </p>

    <nav class="tags">
        <h2>Familles</h2>
        <section class="tags__items">
            {% set families = get_taxonomy(kind="families") %}
            {% for family in families.items %}
            <a href="{{ family.permalink }}" class="tags__item">{{ family.name }}</a>
            {% endfor %}
        </section>
    </nav>

    <h1>
        {{ section.title }}
    </h1>

    <ul class="articles">
        {% for page in section.pages %}
        <li class="articles__item"><a href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a></li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}