{% extends "base.html" %}

{% block content %}
<article>
    <p><a href="{{ get_url(path='@/sessions/_index.md') }}">
            < Retour</a>
    </p>

    <h1>
        {{ page.title }}
    </h1>

    <p><strong>{{ page.date }}</strong></p>

    <nav class="tags">
        <h2>Familles</h2>
        <section class="tags__items">
            {% for family in page.taxonomies.families %}
            {% set term = get_taxonomy_term(kind="families", term=family) %}
            <a href="{{ term.permalink }}" class="tags__item">{{ term.name }}</a>
            {% endfor %}
        </section>
    </nav>

    {{ page.content | safe }}
</article>

{% endblock content %}